# Python Keywords

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

Keywords are case sentive

In [5]:
#get all the keywords

import keyword

print(keyword.kwlist)

print("\nTotal number of keyword :", len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keyword : 36

# Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

In [6]:
global = 1

SyntaxError: invalid syntax (Temp/ipykernel_19608/1908464387.py, line 1)

In [10]:
abc10 = 2
print(abc10)

2

In [11]:
10abc = 5
print(10abc)

SyntaxError: invalid syntax (Temp/ipykernel_19608/1326364490.py, line 1)

# Python Comments

Comments are lines that exist in computer programs that are ignored by compilers and interpreters.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In [12]:
#print hello world to the console

print("Hello World")

Hello World

In [13]:
#Multi Line Comments

#This is 
#an example of
#Multi Line Comments

In [14]:
#Triple Quotes

"""This is a example of Triple quote comments but this is generally called
docstring"""

'This is a example of Triple quote comments but this is generally called\ndocstring'

# DocString in python

Docstring is short for documentation string.

It is a string that occurs as the first statement in a module, function, class, or method definition.

In [15]:
def double(num):
    """Function to double the number"""
    return 2 * num

print(double(4))

8

In [17]:
#You can access the docstring of a function by using an __doc__ attribute

print(double.__doc__)

Function to double the number

# Python Indentation

1. Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

2. A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

3. Generally four whitespaces are used for indentation and is preferred over tabs.

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Indentation can be ignored in line continuation. But it's a good idea to always indent. It makes the code more readable.

In [22]:
if True:
    print("Machine Learning")
    c = "AAIC"

Machine Learning

In [23]:
if True: print("Machine learning"); c = "AAIC"

Machine learning

# Python Statement

Instructions that a python interpreter can execute are called statements.

Examples:

In [24]:
a = 1 #Single Statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character __\__.

In [25]:
a = 1 + 2 + 3 + \
    4 + 5 + \
    6

print(a)

21

In [26]:
#another way is

a = ( 1 + 2 + 3 + 4
     + 5 + 6 + 7)
print(a)

28

In [27]:
# Put Multiple statements in a single line using ;
a = 10; b = 20 ; c = 30

# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

In [29]:
# We use the assignment operator (=) to assign values to variable

a = 10
b = 5.5
c = "Machine Learning"

print(a,b,c)

10 5.5 Machine Learning

In [30]:
#Multiple Assignments

x = 3
print(id(x))

1718688704880

In [31]:
y = 3
print(id(y))

1718688704880

In [32]:
#Observation : x and y point same memory location

In [33]:
y = 2
print(id(y))

1718688704848

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [34]:
a = 10
print( a, " is of type : ", type(a))

b = 5.5
print(b, " is of type : ", type(b))

c = 1 + 2j
print(c, " is of type : ", type(c))

10  is of type :  <class 'int'>
5.5  is of type :  <class 'float'>
(1+2j)  is of type :  <class 'complex'>

# Boolean

Boolean represents the truth values False and True

In [35]:
a = True
print(type(a))

<class 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [36]:
s = "This is an online course"
print(s)

This is an online course

In [40]:
#first character
print(s[0])

#last character
print(s[len(s)-1])

T
e

In [41]:
#last character
print(s[-1])

e

In [43]:
#Slicing

print(s[3:])

s is an online course

In [45]:
print(s[0:3])

Thi

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [46]:
a = [10,20,30,"Hello"]

print(a[1])
print(a[2])

20
30

Lists are mutable, meaning, value of elements of a list can be altered.

In [47]:
a[1] = "HI"
print(a)

[10, 'HI', 30, 'Hello']

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [49]:
t = (1,2,3,4)
print(t)
print(t[1])

(1, 2, 3, 4)
2

In [50]:
t[1] = 5
print(t)

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [51]:
a = {10,20,30,50,40}
print(a)

{50, 20, 40, 10, 30}

In [52]:
print(type(a))

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [53]:
b = {10,10,20,20,30,40}
print(b)

{40, 10, 20, 30}

We cannot print particular element in a set as it is an unordered collection of elements.

In [54]:
print(b[1])

TypeError: 'set' object is not subscriptable

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [55]:
d = {'a' : "apple", 'b': "bat"}
print(d['a'])

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int() , float() , str() etc.

In [56]:
float(5)

5.0

In [57]:
int(15.5)

15

In [58]:
str(20)

'20'

Conversion to and from string must contain compatible values.

In [59]:
a = "10abc"
int(a)

ValueError: invalid literal for int() with base 10: '10abc'

In [64]:
user = "Sudhanshu"
lines = 60

print("Congratulations, " + user + " You just wrote " + str(lines) + " lines of code.")

Congratulations, Sudhanshu You just wrote 60 lines of code.

We can convert one sequence to other

In [65]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [66]:
s = set(a)
print(type(s))

<class 'set'>

In [67]:
list("hello")

['h', 'e', 'l', 'l', 'o']

# Python Input and Output

We use the print() function to output data to the standard output device

# Python Output

In [68]:
print("Hello World")

Hello World

In [69]:
a = 10
print("The value of a is", a)

The value of a is 10

In [70]:
print("The value of a is " + str(a) )

The value of a is 10

# Output Formatting

In [71]:
a = 10
b = 20

print("The value of a is {} and the value of b is {}".format(a,b))

The value of a is 10 and the value of b is 20

In [72]:
print("The value of b is {1} and the value of a is {0}".format(a,b))

The value of b is 20 and the value of a is 10

In [73]:
print("Hello {name}, your visa is approved. You are coming to {country}".format(name="Sudhanshu",country="USA"))

Hello Sudhanshu, your visa is approved. You are coming to USA

In [74]:
print("Congratulations {0}, your {1} is approved. Welcome to {other}".format("Sudhanshu","Visa",other="USA"))

Congratulations Sudhanshu, your Visa is approved. Welcome to USA

# Python Input

want to take the input from the user. In Python, we have the input() function to allow this.

In [77]:
user = input("Enter your name")

print("Welcome",user)

Enter your nameSudhanshu
Welcome Sudhanshu

# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators

2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

1. Arithmetic Operators
Arithmetic operators are used to perform mathematical operations like Addition, subtraction, multiplication, etc

+ , - , * , / , % , // , ** are arithmetic operators

Example

In [78]:
x , y = 10, 30

#addition

print(x + y)

#subtractor (-)

print(x - y)

#Multiplication

print(x * y)

#Division 

print(x / y)

#modulo division

print(x % y)

#floor Division

print(x // y)

#Exponent

print(2 ** 4)

40
-20
300
0.3333333333333333
10
0
16

# Comparision Operators
Comparison operators are used to compare values. It either returns True or False according to the condition.

, >, <, ==, !=, >=, <= are comparision operators

In [79]:
a ,b = 10, 30

print(a < b) #check a is less than b

print(a > b)

print(a == b)

True
False
False

# Logical Operators

Logical operators are and, or, not operators.

In [81]:
a , b = True, False

#print a and b
print(a and b)

#print a or b
print(a or b)

#print not b
print(not b)

False
True
True

# Bitwise Operator

Bitwise Operator act on operands as if they were string of binary digits. It Operates bit by bit.


& , | , ~ , ^ , >> , << are Bitwise Operators

In [84]:
a, b = 10, 4

print(a & b)

#Bitwise OR

print(a | b)

0
14

# Assignment Operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

= , += , -= , *= , /= , %= , //= , **= , &= , |= , ^= , >>= , <<= are assignment operators

In [85]:
a = 10
a += 10
print(a)

20

In [87]:
a*=2
print(a)

40

In [88]:
a -= 10
print(a)

30

In [89]:
a %= 10
print(a)

0

In [90]:
a //= 2
print(a)

0

In [92]:
a += 20
print(a)

20

In [93]:
a **= 2
print(a)

400

# Special Operator

# Identity Operator

**is and is not** are the identity operators in python.
They are used to check if two values (or variables) are located on the same part of the memory.

In [95]:
a = 5
b = 5
print(a is b)

print(a is not b)

True
False

In [96]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]

print(l1 is l2)

False

In [98]:
s1 = "Sudhanshu"
s2 = "Sudhanshu"

print(s1 is not s2)

False

# Membership Operators

**in and not in** are the membership operators in python

They are used to test whether a value or variable is found in a seequence (string, list, tuple, set and dictionary)

In [100]:
lst = [1,2,3,4]
print(1 in lst)

print(5 in lst)

True
False

In [102]:
d ={1:"a", 2:"b"}
print(1 not in d)

False

# Python if ... else Statement

The if...elif...else statement is used in python for decision making.

In [103]:
num = 10 

if num > 10:
    print("Number is Positive")

print("print this anyway")

print this anyway

In [104]:
num = 20 

if num > 10:
    print("Number is greater than 10")
else:
    print("Number is smaller than 10")

Number is greater than 10

In [105]:
num = 10.5
if num > 10:
    print("number is greater than 10")
elif num == 0:
    print("Zero")
else:
    print("Number is smaller than 10")

number is greater than 10

In [107]:
#NESTED IF STATEMENTS
num = int(input("Enter your Number"))
if num > 2:
    if num > 10 :
        print("Number greater than 10")
    else:
        print("Number is smaller than 10")
else:
    print("Number is less than 2")

Enter your Number1
Number is less than 2

In [109]:
num1 = int(input("Enter your Number"))
num2 = int(input("Enter your Number"))
num3 = int(input("Enter your Number"))

if (num1>=num2) and (num1>=num3):
    largest = num1
elif (num2>=num1) and (num2>=num3):
    largest = num2
else:
    largest = num3
    
print("Largest number among three numbers is :",largest)

Enter your Number11
Enter your Number22
Enter your Number33
Largest number among three numbers is : 33