# Python Keywords

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

Keywords are case sentive

In [5]:
#get all the keywords

import keyword

print(keyword.kwlist)

print("\nTotal number of keyword :", len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keyword : 36

# Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

In [6]:
global = 1

SyntaxError: invalid syntax (Temp/ipykernel_19608/1908464387.py, line 1)

In [10]:
abc10 = 2
print(abc10)

2

In [11]:
10abc = 5
print(10abc)

SyntaxError: invalid syntax (Temp/ipykernel_19608/1326364490.py, line 1)

# Python Comments

Comments are lines that exist in computer programs that are ignored by compilers and interpreters.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In [12]:
#print hello world to the console

print("Hello World")

Hello World

In [13]:
#Multi Line Comments

#This is 
#an example of
#Multi Line Comments

In [14]:
#Triple Quotes

"""This is a example of Triple quote comments but this is generally called
docstring"""

'This is a example of Triple quote comments but this is generally called\ndocstring'

# DocString in python

Docstring is short for documentation string.

It is a string that occurs as the first statement in a module, function, class, or method definition.

In [15]:
def double(num):
    """Function to double the number"""
    return 2 * num

print(double(4))

8

In [17]:
#You can access the docstring of a function by using an __doc__ attribute

print(double.__doc__)

Function to double the number

# Python Indentation

1. Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

2. A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

3. Generally four whitespaces are used for indentation and is preferred over tabs.

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Indentation can be ignored in line continuation. But it's a good idea to always indent. It makes the code more readable.

In [22]:
if True:
    print("Machine Learning")
    c = "AAIC"

Machine Learning

In [23]:
if True: print("Machine learning"); c = "AAIC"

Machine learning

# Python Statement

Instructions that a python interpreter can execute are called statements.

Examples:

In [24]:
a = 1 #Single Statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character __\__.

In [25]:
a = 1 + 2 + 3 + \
    4 + 5 + \
    6

print(a)

21

In [26]:
#another way is

a = ( 1 + 2 + 3 + 4
     + 5 + 6 + 7)
print(a)

28

In [27]:
# Put Multiple statements in a single line using ;
a = 10; b = 20 ; c = 30

# Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

In [29]:
# We use the assignment operator (=) to assign values to variable

a = 10
b = 5.5
c = "Machine Learning"

print(a,b,c)

10 5.5 Machine Learning

In [30]:
#Multiple Assignments

x = 3
print(id(x))

1718688704880

In [31]:
y = 3
print(id(y))

1718688704880

In [32]:
#Observation : x and y point same memory location

In [33]:
y = 2
print(id(y))

1718688704848

# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [34]:
a = 10
print( a, " is of type : ", type(a))

b = 5.5
print(b, " is of type : ", type(b))

c = 1 + 2j
print(c, " is of type : ", type(c))

10  is of type :  <class 'int'>
5.5  is of type :  <class 'float'>
(1+2j)  is of type :  <class 'complex'>

# Boolean

Boolean represents the truth values False and True

In [35]:
a = True
print(type(a))

<class 'bool'>

# Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [36]:
s = "This is an online course"
print(s)

This is an online course

In [40]:
#first character
print(s[0])

#last character
print(s[len(s)-1])

T
e

In [41]:
#last character
print(s[-1])

e

In [43]:
#Slicing

print(s[3:])

s is an online course

In [45]:
print(s[0:3])

Thi

# Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [46]:
a = [10,20,30,"Hello"]

print(a[1])
print(a[2])

20
30

Lists are mutable, meaning, value of elements of a list can be altered.

In [47]:
a[1] = "HI"
print(a)

[10, 'HI', 30, 'Hello']

# Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [49]:
t = (1,2,3,4)
print(t)
print(t[1])

(1, 2, 3, 4)
2

In [50]:
t[1] = 5
print(t)

TypeError: 'tuple' object does not support item assignment

# Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [51]:
a = {10,20,30,50,40}
print(a)

{50, 20, 40, 10, 30}

In [52]:
print(type(a))

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [53]:
b = {10,10,20,20,30,40}
print(b)

{40, 10, 20, 30}

We cannot print particular element in a set as it is an unordered collection of elements.

In [54]:
print(b[1])

TypeError: 'set' object is not subscriptable

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [55]:
d = {'a' : "apple", 'b': "bat"}
print(d['a'])

apple

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int() , float() , str() etc.

In [56]:
float(5)

5.0

In [57]:
int(15.5)

15

In [58]:
str(20)

'20'

Conversion to and from string must contain compatible values.

In [59]:
a = "10abc"
int(a)

ValueError: invalid literal for int() with base 10: '10abc'

In [64]:
user = "Sudhanshu"
lines = 60

print("Congratulations, " + user + " You just wrote " + str(lines) + " lines of code.")

Congratulations, Sudhanshu You just wrote 60 lines of code.

We can convert one sequence to other

In [65]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [66]:
s = set(a)
print(type(s))

<class 'set'>

In [67]:
list("hello")

['h', 'e', 'l', 'l', 'o']

# Python Input and Output

We use the print() function to output data to the standard output device

# Python Output

In [68]:
print("Hello World")

Hello World

In [69]:
a = 10
print("The value of a is", a)

The value of a is 10

In [70]:
print("The value of a is " + str(a) )

The value of a is 10

# Output Formatting

In [71]:
a = 10
b = 20

print("The value of a is {} and the value of b is {}".format(a,b))

The value of a is 10 and the value of b is 20

In [72]:
print("The value of b is {1} and the value of a is {0}".format(a,b))

The value of b is 20 and the value of a is 10

In [73]:
print("Hello {name}, your visa is approved. You are coming to {country}".format(name="Sudhanshu",country="USA"))

Hello Sudhanshu, your visa is approved. You are coming to USA

In [74]:
print("Congratulations {0}, your {1} is approved. Welcome to {other}".format("Sudhanshu","Visa",other="USA"))

Congratulations Sudhanshu, your Visa is approved. Welcome to USA

# Python Input

want to take the input from the user. In Python, we have the input() function to allow this.

In [77]:
user = input("Enter your name")

print("Welcome",user)

Enter your nameSudhanshu
Welcome Sudhanshu

# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators

2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

1. Arithmetic Operators
Arithmetic operators are used to perform mathematical operations like Addition, subtraction, multiplication, etc

+ , - , * , / , % , // , ** are arithmetic operators

Example

In [78]:
x , y = 10, 30

#addition

print(x + y)

#subtractor (-)

print(x - y)

#Multiplication

print(x * y)

#Division 

print(x / y)

#modulo division

print(x % y)

#floor Division

print(x // y)

#Exponent

print(2 ** 4)

40
-20
300
0.3333333333333333
10
0
16

# Comparision Operators
Comparison operators are used to compare values. It either returns True or False according to the condition.

, >, <, ==, !=, >=, <= are comparision operators

In [79]:
a ,b = 10, 30

print(a < b) #check a is less than b

print(a > b)

print(a == b)

True
False
False

# Logical Operators

Logical operators are and, or, not operators.

In [81]:
a , b = True, False

#print a and b
print(a and b)

#print a or b
print(a or b)

#print not b
print(not b)

False
True
True

# Bitwise Operator

Bitwise Operator act on operands as if they were string of binary digits. It Operates bit by bit.


& , | , ~ , ^ , >> , << are Bitwise Operators

In [84]:
a, b = 10, 4

print(a & b)

#Bitwise OR

print(a | b)

0
14

# Assignment Operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

= , += , -= , *= , /= , %= , //= , **= , &= , |= , ^= , >>= , <<= are assignment operators

In [85]:
a = 10
a += 10
print(a)

20

In [87]:
a*=2
print(a)

40

In [88]:
a -= 10
print(a)

30

In [89]:
a %= 10
print(a)

0

In [90]:
a //= 2
print(a)

0

In [92]:
a += 20
print(a)

20

In [93]:
a **= 2
print(a)

400

# Special Operator

# Identity Operator

**is and is not** are the identity operators in python.
They are used to check if two values (or variables) are located on the same part of the memory.

In [95]:
a = 5
b = 5
print(a is b)

print(a is not b)

True
False

In [96]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]

print(l1 is l2)

False

In [98]:
s1 = "Sudhanshu"
s2 = "Sudhanshu"

print(s1 is not s2)

False

# Membership Operators

**in and not in** are the membership operators in python

They are used to test whether a value or variable is found in a seequence (string, list, tuple, set and dictionary)

In [100]:
lst = [1,2,3,4]
print(1 in lst)

print(5 in lst)

True
False

In [102]:
d ={1:"a", 2:"b"}
print(1 not in d)

False

# Python if ... else Statement

The if...elif...else statement is used in python for decision making.

In [103]:
num = 10 

if num > 10:
    print("Number is Positive")

print("print this anyway")

print this anyway

In [104]:
num = 20 

if num > 10:
    print("Number is greater than 10")
else:
    print("Number is smaller than 10")

Number is greater than 10

In [105]:
num = 10.5
if num > 10:
    print("number is greater than 10")
elif num == 0:
    print("Zero")
else:
    print("Number is smaller than 10")

number is greater than 10

In [107]:
#NESTED IF STATEMENTS
num = int(input("Enter your Number"))
if num > 2:
    if num > 10 :
        print("Number greater than 10")
    else:
        print("Number is smaller than 10")
else:
    print("Number is less than 2")

Enter your Number1
Number is less than 2

In [109]:
num1 = int(input("Enter your Number"))
num2 = int(input("Enter your Number"))
num3 = int(input("Enter your Number"))

if (num1>=num2) and (num1>=num3):
    largest = num1
elif (num2>=num1) and (num2>=num3):
    largest = num2
else:
    largest = num3
    
print("Largest number among three numbers is :",largest)

Enter your Number11
Enter your Number22
Enter your Number33
Largest number among three numbers is : 33

# Python While loop

The While loop in python is used to iterate over a block of code as long as the test exoression is true.

In [2]:
#Find product of all numbers present in a list

lst = [1,2,3,4,5]

product = 1
index = 0

while index< len(lst):
    product *= lst[index]
    index += 1
    
print("product of all elements in a list is :",product)

product of all elements in a list is : 120

# While else loop

The else part is executed if the condition in the while loop evaluates to False. The while loop can be terminated with a break statement.

In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

In [3]:
numbers = [1,2,3]

#iterating over the list
index = 0
while index<len(numbers):
    print(numbers[index])
    index += 1
else:
    print("no item left in the list")

1
2
3
no item left in the list

# Python Program to check given number is Prime number or not

In [4]:
num = int(input("Enter your number: "))

isDivisible = False
i = 2

while i<num:
    if num % i == 0:
        isDivisible = True;
        print("{} is divisible by {}".format(num,i))
    i += 1
    
if isDivisible:
    print("{} is not a prime number.".format(num))
else:
    print("{} is a prime number.".format(num))

Enter your number: 25
25 is divisible by 5
25 is not a prime number.

# Python for Loop

The for loop in python is used to iterate over a sequence (list,tuple,string) or other iterable objects. Iterating over a sequence is called traversal.

# Find product of all numbers in a list

In [6]:
lst = [1,2,3,4,5]

product = 1

for i in lst:
    product *= i
    
print("product of numbers in a list is: ",product)

product of numbers in a list is:  120

# range() function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 ie 10 numbers

In [7]:
#print range of 10

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
#print range of numbers from 1 to 10 with a step size of 2

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
lst = ["a","b","c","d","e"]

for index in range(len(lst)):
    print(lst[index])

a
b
c
d
e

In [11]:
for i in lst:
    print(i)

a
b
c
d
e

# For loop with else

A for loop can have an else block as well.

break statement can be used to stop a for loop, in such cases the else part is ignored.

Hence a for loop's else part runs if no break occurs.

In [12]:
numbers = [1,2,3,4]

#iterating over the list

for item in numbers:
    print(item)
else:
    print("End of list, no item found.")

1
2
3
4
End of list, no item found.

# Python program to display all prime numbers within an interval

In [13]:
index1 = 10
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1,index2))

for num in range(index1,index2+1):
    if num>1:
        isDivisible = False;
        for i in range(2,num):
            if num % i == 0:
                isDivisible = True
        if not isDivisible:
            print(num);

Prime numbers between 10 and 50 are :
11
13
17
19
23
29
31
37
41
43
47

In [14]:
index1 = 20
index2 = 100

print("Prime numbers between {0} and {1} are: ".format(index1,index2))

for num in range(index1, index2+1):
    if num>1:
        isDivisible = False
        for i in range(2,num):
            if num % i == 0:
                isDivisible = True
        if not isDivisible:
            print(num)

Prime numbers between 20 and 100 are:
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Control flow break and Continue

In [1]:
#Example

numbers = [1,2,3,4]
for num in numbers:
    if num == 4:
        break;
    print(num)
else:
    print("In the else-block")
print("Outside of for loop")

1
2
3
Outside of for loop

In [3]:
num = int(input("Enter your number: "))

isDivisible = False;
i = 2
while i<num:
    if num % i == 0:
        isDivisible = True
        print("{} is divisible by {}".format(num,i))
        break;
    i+=1
    
if isDivisible:
    print("{} is not a prime number.".format(num))
else:
    print("{} is a prime number.".format(num))

Enter your number: 23
23 is a prime number.

In [5]:
#print odd numbers present in a list

lst = [1,2,3,4,5,6,7,8,9,10]

for num in lst:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("End of List")

1
3
5
7
9
End of List

# Lists
- List is one of the Sequence Data structure

- Lists are collection of items (Strings, integers or even other lists)

- Lists are enclosed in [ ]

- Each item in the list has an assigned index value.

- Each item in a list is separated by a comma

- Lists are mutable, which means they can be changed.

 # List Creation

In [8]:
emptylist = []

list_of_strings = ["one","two","three","four"]

lst_of_integers = [1,2,3,4]

list_of_lists = [[1,2],[3,4],5]

list_of_different_datatypes = [1, 2, 3, 'String']

print(list_of_lists)

[[1, 2], [3, 4], 5]

# List length

In [9]:
lst = ["one","two","three","four"]

print(len(lst))

4

# List Append

In [10]:
list_of_strings = ["one","two","three","four"]

list_of_strings.append("five")

print(list_of_strings)

['one', 'two', 'three', 'four', 'five']

# List Insert

syntax = list.insert(location, element)

In [13]:
list_of_integers = [1,2,4]

list_of_integers.insert(2,3)

print(list_of_integers)

[1, 2, 3, 4]

# List Remove

syntax = list.remove(x)

In [14]:
list_of_integers.remove(4)

print(list_of_integers)

[1, 2, 3]

# List Append and Extend

In [17]:
lst = ["one","two","three","four"]

lst2 = ["five","six"]

#append
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [18]:
lst = ["one","two","three","four"]

lst2 = ["five","six"]

#append
lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [20]:
#del to remove item based on index position

lst = ["one","two","three","four","five"]

del lst[1]

print(lst)

['one', 'three', 'four', 'five']

In [21]:
lst = ["one", "two","three","four"]

print(lst)
a = lst.pop()

print(a)

['one', 'two', 'three', 'four']
four

In [23]:
lst = ["one", "two","three","four"]

#remove an item from list
lst.remove("three")

print(lst)

['one', 'two', 'four']

# List related keywords in Python

In [24]:
#Keyword 'in' is used to test if an item is in a list

lst = ["one","two","three","four"]

if "two" in lst:
    print("AI")

#Keyword "not" can combined with "in"

if "six" not in lst:
    print("ML")

AI
ML

# List Reverse

In [25]:
lst = ["one","two","three","four"]

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

# List Sorting
The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

In [26]:
#Create a list with numbers

numbers = [3,1,6,2,8]

sorted_lst = sorted(numbers)

print("Sorted list :",sorted_lst)

#original list remain unchanged
print("Original List: ",numbers)

Sorted list : [1, 2, 3, 6, 8]
Original List:  [3, 1, 6, 2, 8]

In [27]:
#print a list in reverse sorted order

print("reverse sorted list :",sorted(numbers, reverse=True))

#original list remain unchanged
print("Original list : ",numbers)

reverse sorted list : [8, 6, 3, 2, 1]
Original list :  [3, 1, 6, 2, 8]

In [29]:
lst = [1,20,4,5,6,6,5.5]

lst.sort()

print("Sorted List :",lst)

Sorted List : [1, 4, 5, 5.5, 6, 6, 20]

In [32]:
#Will throw an error if you try to sort diiferent data types in a list

lst = [1,2,3,'a','b','c']

print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

# List having Multiple References

In [34]:
lst = [1,2,3,4,5]

abc = lst
abc.append(6)

print("Original List :",lst)

print("abc is :",abc)

Original List : [1, 2, 3, 4, 5, 6]
abc is : [1, 2, 3, 4, 5, 6]

# String Split to create a list

In [36]:
str_1 = "one,two,three,four,five"

str_1_lst = s.split(',')
print(str_1_lst)

['one', 'two', 'three', 'four', 'five']

In [37]:
str_2 = "Let's learn python together."

str_2.split()

["Let's", 'learn', 'python', 'together.']

# List Indexing
Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [38]:
num_list = [1, 2, 3, 4]
print(num_list[1])

2

# List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [39]:
numbers = [10,20,30,40,50,60,70]

#print all numbers
print(numbers[:])

#print from index 0 to index 4

print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40]

In [41]:
print(numbers)

#print alternate elements in a list
print(numbers[::2])

#print elements start from 2 through rest of the list (alternatively)
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70]
[10, 30, 50, 70]
[30, 50, 70]

# List extend using "+"

In [42]:
list1 = [1,2,3,4]
list2 = ["Hello","world"]

new_list = list1 + list2

print(new_list)

[1, 2, 3, 4, 'Hello', 'world']

# List Count

In [43]:
numbers = [1, 2, 3, 1, 3, 1, 1, 1, 5, 9, 7, 8]
print(numbers.count(1))

print(numbers.count(3))

5
2

# List Looping

In [45]:
list1 = ['one', 'two', 'three', 'four']

for i in list1:
    print(i)

one
two
three
four

# List Comprehension
List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

# Calculate squares of numbers from 1 to 10 and Store them in a list

In [46]:
#Without list Comprehension

squares = []

for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
#Using List Comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [49]:
# More Example

list1 = [-10,20,30,40,-50]

#create a new list with values multiplied by 10
new_list1 = [i * 10 for i in list1]
print(new_list1)

#filter the list to exclude negative numbers
new_list2 = [i for i in list1 if i > 0]
print(new_list2)

#create of list of tuples with (number,square of number)

new_list3 = [(i,i**2) for i in list1]
print(new_list3)

[-100, 200, 300, 400, -500]
[20, 30, 40]
[(-10, 100), (20, 400), (30, 900), (40, 1600), (-50, 2500)]

# Nested List Comprehension

In [51]:
#Let's suppose we have a matrix

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

#Transpose of a matrix without list comprehension
transposed = []
for i in range(3):
    list1 = []
    for row in matrix:
        list1.append(row[i])
    transposed.append(list1)
    
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [52]:
#Let's suppose we have a matrix

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

#Transpose of a matrix with list comprehension

transposed = [[row[i] for row in matrix] for i in range(3)]

print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# Tuples
- A tuple is similar to list

- The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple Creation

In [55]:
#empty tuple
t = ()

#tuple having integers
t1 = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t2 = (1, 'Hello', '08', 'world')
print(t2)

#nested tuple
t3 = (5, (1,2), [3,4,5,6])
print(t3)

()
(1, 'Hello', '08', 'world')
(5, (1, 2), [3, 4, 5, 6])

In [56]:
#Only Parenthesis is not enough

t1 = ("Hello world")
type(t1)

str

In [57]:
#need a comma at the end
t1 = ("Hello world",)
type(t1)

tuple

In [58]:
#Accessing elements in a Tuple

t1 = ("Hello","world","Let's","learn","Python")

print(t1[1])

world

In [59]:
#negative index
print(t1[-1])

Python

In [61]:
#nested tuple
t1 = ("ABC",("Hello","world"))
print(t1[0])
print(t1[1])
print(t1[1][1])

ABC
('Hello', 'world')
world

In [64]:
#Slicing a tuple

t1 = (1,2,3,4,5,6,7,8)

#print elements from start to end
print(t1[:])

#print elements from index 1 to index 4(index4 is excluded)
print(t1[1:4])

#print element only upto second last element
print(t1[:-2])

#print alternate elements
print(t1[::2])

(1, 2, 3, 4, 5, 6, 7, 8)
(2, 3, 4)
(1, 2, 3, 4, 5, 6)
(1, 3, 5, 7)

# Changing a tuple 
- Unlike lists, tuples are immutable.
- This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [66]:
#example - Will throw Type Error

t1 = (1,2,3,4,5)

t1[2] = 10 
print(t1)

TypeError: 'tuple' object does not support item assignment

In [67]:
t1 = (1,2,3,[4,5,6])

t1[3][0] = 10

print(t1)

(1, 2, 3, [10, 5, 6])

In [68]:
#Concatinating Tuples

t1 = (1,2,3)
t2 = (4,5,6)

t = t1 + t2
print(t)

(1, 2, 3, 4, 5, 6)

In [69]:
#repeat the element in a tuple using a * operator

t = (("Hello",)*5)

print(t)

('Hello', 'Hello', 'Hello', 'Hello', 'Hello')

# Tuple Deletion

- We cannot change the elements in a tuple.
- That also means we cannot delete or remove items from a tuple

In [72]:
#delete entire tuple using del keyword

t = (1,2,3,4,5,6)

#delete entire tuple
del t

# Tuple Count

In [73]:
t = (1,1,1,2,2,3,4,5,6,7)

#get the frequency of particular element appears in a tuple

t.count(1)

3

# Tuple Index

In [75]:
t = (1,2,3,1,3,3,4,1)

#return the index of first element is equal to 3
print(t.index(3))

2

In [76]:
#print index of 1

print(t.index(1))

0

# Tuple Membership

In [77]:
#test if an item exists in a tuple or not, using the keyword in

t = (1,2,3,4,5)

print(3 in t)

True

In [78]:
print(7 in t)

False

# Built in functions

# Tuple Length

In [79]:
t = (1,2,3,4,5,6)
print(len(t))

6

# Tuple Sort

In [81]:
t = (4,5,6,7,1,2,3,4)

new_t = sorted(t)
print(new_t)

[1, 2, 3, 4, 4, 5, 6, 7]

In [82]:
#get the largest element in a  tuple

t = (2,5,1,6,9)

print(max(t))

9

In [83]:
#get the smallest element in a tuple

t = (2,3,4,5,1,7)

print(min(t))

1

In [84]:
#get sum of all elements in a tuple
print(sum(t))

22

# Sets 

- A set is an unordered collection of items. Every element is unique (no duplicates).

- The set itself is mutable. We can add or remove items from it.

- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

# Set Creation

In [85]:
#set of integers

s = {1,2,3}
print(s)

#print types of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [86]:
#set doesn't allow duplicates. They store only one instance

s = {1, 2, 3, 4, 5}

print(s)

{1, 2, 3, 4, 5}

In [87]:
# We can make set from a list

s = set([1,2,3,4,5])
print(s)

{1, 2, 3, 4, 5}

In [88]:
#Initialize a set with set() method

s = set()

print(type(s))

<class 'set'>

# Add Element to a Set

In [90]:
#we can add single element using add() method and
#multiple elements using update() method

s = {1,3}

s.add(5)

print(s)

{1, 3, 5}

In [92]:
#Set object doesn't support indexing

s = {1,3,5}
print(s[1])

TypeError: 'set' object is not subscriptable

In [95]:
# Add Multiple Elements

s = {1,3,5}
s.update([2,4,7])

print(s)

{1, 2, 3, 4, 5, 7}

In [97]:
#Add List and set

s = {1,2}
s.update([11,12],{10,4,6})
print(s)

{1, 2, 4, 6, 10, 11, 12}

# Remove elements from a Set

In [100]:
#A particular item can be removed from set from using methods
# discard() and remove()

s = {1, 2, 3, 4, 5}
print(s)

s.discard(4) #4 is removed from set s
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [103]:
#remove an element

s = {1,2,3,4,5}
print(s)

s.remove(2)
print(s)

{1, 2, 3, 4, 5}
{1, 3, 4, 5}

In [104]:
#If you rermove an element not present in the set Will throw a KEYERROR
#Whereas discarding the element will not throw an error

s = {1,2,3,4,5}
s.remove(7)

KeyError: 7

In [105]:
s = {1,2,3,4,5}
s.discard(7)
print(s)

{1, 2, 3, 4, 5}

In [106]:
# We can remove an element using a pop() method

#pop() will remove an random element

s = {1,2,3,4,5}
s.pop()

print(s)

{2, 3, 4, 5}

In [108]:
#remove all element in a set using clear method

s = {1,2,3,4,5}

s.clear()
print(s)

set()

# Python Set Operations

In [110]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 5, 3, 10}
 
#union of 2 sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 10}

In [111]:
#another way of getting union of 2 sets

print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 10}

In [112]:
#use intersection function

print(set.intersection(set2))

{3, 5, 6, 7, 10}

In [114]:
#set difference : set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2, 4}

In [115]:
#use difference function

print(set.difference(set2))

{3, 5, 6, 7, 10}

- Symmetric difference: set of elements in both set1 and set2, except those that are common in both

- use ^ operator

In [117]:
#Symmetric Difference

#use ^ operator

print(set1^set2)

{1, 2, 4, 6, 7, 10}

In [118]:
#use symmetric difference function
print(set1.symmetric_difference(set2))

{1, 2, 4, 6, 7, 10}

In [119]:
#Find issubset()

x = {"a","b","c","d","e","f"}
y = {"c","d"}

#check x is a subset of y
print("Set 'x' is subset of 'y' ?", x.issubset(y))

#check y is a subset of x
print("Set 'y' is a subset of 'x'?",y.issubset(x))

Set 'x' is subset of 'y' ? False
Set 'y' is a subset of 'x'? True

# Frozen Sets

- Frozen sets has the characteristics of sets, but they can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

- Frozensets can be created using the function frozenset()

- Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

- This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [120]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

#try to add element into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [121]:
#frozenset doesn't support indexing

print(set1[1])

TypeError: 'frozenset' object is not subscriptable

In [122]:
#union of two sets
print(set1 | set2)

#Intersection of two sets
print(set1 & set2)

#or
print(set1.intersection(set2))

frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({3, 4})

In [124]:
#symmetric difference

print(set1 ^ set2)

#or 

print(set1.symmetric_difference(set2))

frozenset({1, 2, 5, 6})
frozenset({1, 2, 5, 6})

# Dictionary

- Python Dictionary is an unordered collection of items. While other compound data types have value as an element, a dictionary has a __key:value__ pair

In [1]:
#dictionary with integer keys
dict1 = {1:"a", 2:"b", 3:"c", 4:"d"}
print(dict1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [2]:
#dictionary with mixed keys
dict2 = {1:"hello","name":"world",3:["a","b","c"]}
print(dict2)

{1: 'hello', 'name': 'world', 3: ['a', 'b', 'c']}

In [3]:
my_dict = dict()
my_dict = dict([(1, 'abc'),(2,'xyz')])
print(my_dict)

{1: 'abc', 2: 'xyz'}

# Dictionary Access

In [1]:
my_dict = {"name" : "Dictionary" , "age" : 25 , "address" : "India"}

print(my_dict["name"])

Dictionary

In [2]:
#if key is not present, it will throw KEYERROR
print(my_dict["degree"])

KeyError: 'degree'

In [3]:
#another way of accessing key

print(my_dict.get("address"))

India

# Dictionary Add or Modify Elements

In [4]:
my_dict = {"name" : "Dictionary" , "age" : 25 , "address" : "India"}

#update name
my_dict["name"] = "Python"

print(my_dict)

{'name': 'Python', 'age': 25, 'address': 'India'}

In [6]:
#add new key

my_dict["program"] = "Hello World !!"

print(my_dict)

{'name': 'Python', 'age': 25, 'address': 'India', 'program': 'Hello World !!'}

# Dictionary delete or remove element

In [9]:
my_dict = {'name': 'Python', 'age': 25, 'address': 'India', 'program': 'Hello World !!'}

#remove an arbitary key
my_dict.popitem()

print(my_dict)

{'name': 'Python', 'age': 25, 'address': 'India'}

In [13]:
cubes = {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

del cubes[1]

print(cubes)

{2: 8, 3: 27, 4: 64, 5: 125}

In [14]:
#remove all items

cubes.clear()

print(cubes)

{}

In [16]:
cubes = {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

del cubes

print(cubes)

NameError: name 'cubes' is not defined

# Dictionary Methods

In [17]:
cubes = {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

my_dict = cubes.copy()

print(my_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [21]:
#fromkeys[seq[,v]] -> Return a dictionary with keys from seq and value equal to v (defaults)

subjects = {}.fromkeys(["maths","english","science"],0)
print(subjects)

{'maths': 0, 'english': 0, 'science': 0}

In [23]:
subjects = {2:4, 3:9, 4:16, 5:25}

#returns a new view with key and value
print(subjects.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [26]:
subjects = {2:4, 3:9, 4:16, 5:25}

#access key of a dictionary
print(subjects.keys())

dict_keys([2, 3, 4, 5])

In [27]:
subjects = {2:4, 3:9, 4:16, 5:25}

#access values of a dictionary
print(subjects.values())

dict_values([4, 9, 16, 25])

In [28]:
#get list of all available methods and attributes of a dictionary

d = {}
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Dictionary Comprehension

In [30]:
# Dict comprehension are just like list comprehension but for dictionaries

d = {"a" : 1, "b" : 2, "c" : 3 , "d" : 4, "e" : 5}

for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [36]:
#Creating a dictionary with only pairs where the value is larger than 2

d = {"a" : 1, "b" : 2, "c" : 3 , "d" : 4, "e" : 5}

my_dict = {k:v for k,v in d.items() if v>2}
print(my_dict)

{'c': 3, 'd': 4, 'e': 5}

In [38]:
#We can also perform operations on the keyvalue pairs

d = {"a" : 1, "b" : 2, "c" : 3 , "d" : 4, "e" : 5}

d = {k + 'c':v * 2 for k,v in d.items() if v >2 }

print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

# Strings

A string is a sequence of characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

In Python, string is a sequence of Unicode character.

- Strings can be created by enclosing characters inside a single quote or double quotes.

- Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [40]:
my_string1 = "Hello"
print(my_string1)

my_string2 = 'Hello'
print(my_string2)

my_string3 = '''Hello'''
print(my_string3)

Hello
Hello
Hello

# Accessing a String

- We can access individual characters using indexing and a range of characters using slicing.

- Index starts from 0.

- Trying to access a character out of index range will raise an IndexError.

- The index must be an integer. We can't use float or other types, this will result into TypeError.

- Python allows negative indexing for its sequences.

In [43]:
my_string = "Hello World"

#priint 3 charcater
print(my_string[2])

#print last character
print(my_string[-1])

#slicicng 2nd to 5th character
print(my_string[2:7])

l
d
llo W

- If we try to access index out of the range or use decimal number, we will get errors.

In [44]:
print(my_string[15])

IndexError: string index out of range

# Change or Delete a String

- Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.

- We can simply reassign different strings to the same name.

In [46]:
my_string = "Hello World"

my_string[3] = 'T'

TypeError: 'str' object does not support item assignment

In [49]:
del my_string

print(my_string)

NameError: name 'my_string' is not defined

# String Concatenation

- Joining of two or more strings into a single one is called concatenation.

- The + operator does this in Python. Simply writing two string literals together also concatenates them.

- The * operator can be used to repeat the string for a given number of times.

In [51]:
s1 = "Hello "
s2 = "World"

#concatenation of 2 strings
s = s1 + s2
print(s)

#repeat string n times
print(s1 * 2)

Hello World
Hello Hello

# Iterating through String

In [53]:
count = 0
for char in "hello world":
    if char == 'l':
        count += 1
    
print(count," letters found")

3  letters found

# String Membership Test

In [54]:
print('l' in "Hello world")

True

In [56]:
print('or' in "Hello World")

True

# String Methods

- some of the commonly used methods are lower(), upper(), join(), split(), find(), replace(), etc

In [58]:
str1 = "Hello World"

print(str1.lower())

print(str1.upper())

hello world
HELLO WORLD

In [59]:
"Hello world, Let's learn python together.".split()

['Hello', 'world,', "Let's", 'learn', 'python', 'together.']

In [60]:
' '.join(["Hello", "world", "Let's", "learn", "python", "together"])

"Hello world Let's learn python together"

In [61]:
"Hello World".find("Wo")

6

In [64]:
s1 = "Bad Morning"
print(s1)

s2 = s1.replace("Bad","Good")
print(s2)

Bad Morning
Good Morning

# Python program to check where a string is Palindrome or not

In [67]:
str1 = "Madam"

#convert entire string to either lower or upper

str1 = str1.lower()

rev_str1 = reversed(str1)

if list(rev_str1) == list(str1):
    print("Given String is Palindrome")
else:
    print('Given String is not a Palindrome')

Given String is Palindrome

# Python Program to Sort Words in Alphabetic Order

In [69]:
str1 = "python program to sort words in alphabetical order"

words = str1.split()

words.sort()

for word in words:
    print(word)

alphabetical
in
order
program
python
sort
to
words

# Python Functions

- Function is a group of related statements that perform a specific task.

- Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

- It avoids repetition and makes code reusable.

1. keyword "def" marks the start of function header

2. Parameters (arguments) through which we pass values to a function. These are optional

3. A colon(:) to mark the end of funciton header

4. Doc string describe what the function does. This is optional

5. "return" statement to return a value from the function. This is optional

# Example

In [2]:
def print_name(name):
    """This functions prints the name
    """
    print("Hello " + str(name))

# Function Call
- Once we have defined the function, we can call it from anywhere.

In [3]:
print_name("Python Learner")

Hello Python Learner

# Doc String
The first string after the function header is called the docstring and is short for documentation string.

Although optional, documentation is a good programming practice, always document your code

Doc string will be written in triple quotes so that docstring can extend up to multiple lines

In [4]:
print(print_name.__doc__)

This functions prints the name

# Return Statement 
The return statement is used to exit a function and go back to the place from where it was called.

return statement can contain an expression which gets evaluated and the value is returned.

If there is no expression in the statement or the return statement itself is not present inside a function, then the function will return None Object

In [5]:
def get_sum(lst):
    """
    This function returns the sum of all the elements in a list.
    """
    #initialize sum
    sum = 0
    
    #iterating over the list
    for num in lst:
        sum += num
    return sum

In [6]:
s = get_sum([1,2,3,4,5])
print(s)

15

In [7]:
#Print doc String
print(get_sum.__doc__)

    This function returns the sum of all the elements in a list.

# Scope and Lifetime of a variable

Scope of a variable is the portion of a program where the variable is recognized

variables defined inside a function is not visible from outside. Hence, they have a local scope.

Lifetime of a variable is the period throughout which the variable exits in the memory.

The lifetime of variables inside a function is as long as the function executes.

Variables are destroyed once we return from the function.

In [9]:
global_var = "this is a global variable"

def test_life_time():
    """
    This function test the life time of a variables.
    """
    local_var = "This is local variable"
    print(local_var)
    
    print(global_var)
    

#Calling Function
test_life_time()

#print global variable global_var
print(global_var)

#print local variable local_var
print(local_var)

This is local variable
this is a global variable
this is a global variable

NameError: name 'local_var' is not defined

# Python Program to print Highest Common Factor (HCF) of two numbers

In [11]:
def computeHCF(a,b):
    """
    Computing HCF of two numbers
    """
    smaller = b if a > b else a
    
    hcf = 1
    for i in range(1,smaller+1):
        if (a % i == 0) and (b % i == 0):
            hcf = i
    return hcf

num1 = 10
num2 = 30

print("HCF of {0} and {1} is : {2}".format(num1,num2,computeHCF(num1,num2)))

HCF of 10 and 30 is : 10

# Types of Functions

1. Built-in Functions
2. User-defined Functions

# Built-in Functions

# 1.  abs()

In [12]:
# find the absolute value

num = -100
print(abs(num))

100

# 2. all()

## return value of all() function

### True : if all elements in an iterable are true

### False : if any elements in an iterable is False

In [13]:
lst = [1, 2, 3 , 4]

print(all(lst))

True

In [15]:
# 0 present in the list

lst = [0, 1, 2, 3]
print(all(lst))

False

In [16]:
#empty list always true

lst = []
print(all(lst))

True

In [17]:
#False present in a list so all(list) is False

lst = [False, 1 ,2]
print(all(lst))

False

# dir()

The __dir()__ tries to return a list of valid attributes of the object.

If the object has __dir()__ method, the method will be called and must return the list of attributes.

If the object doesn't have __dir()__ method, this method tries to find information from the __dict__ attribute (if defined), and from type object. In this case, the list returned from dir() may not be complete.

In [18]:
numbers = [1,2,3,4]

print(dir(numbers))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# divmod()

- the divmod() method takes two numbers and returns a pair of numbers(a tuple) consisting of their quotient and remainder.

In [20]:
#prints quotient and remainder as a tuple

print(divmod(11,5))

(2, 1)

# enumerate()

- The enumerate() method adds counter to an iterable and returns it.

- syntax: enumerate(iterable, start=0)

In [21]:
numbers = [10, 20, 30, 40, 50]

for index, num in enumerate(numbers,10):
    print("index {0} has value {1}".format(index,num))

index 10 has value 10
index 11 has value 20
index 12 has value 30
index 13 has value 40
index 14 has value 50

# filter()

The filter() method constructs an iterator from elements of an iterable for which a function returns true.

syntax: filter(function, iterable)

In [22]:
def find_positive_number(num):
    """
    This function returns the positive number if num is positive
    """
    if num > 0:
        return num

In [25]:
#create a list of numbers from -10 to 10

number_list = range(-10,10)
print("Number List :",list(number_list))

positive_num_list = list(filter(find_positive_number,number_list))

print("Positive Number List :",positive_num_list)

Number List : [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Positive Number List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

# isinstance()

The isinstance() function checks if the object(first argument) is an instance or subclass of classinfo class (second argument)

syntax : isinstance(object, classinfo)

In [27]:
lst = [1,2,3,4]

print(isinstance(lst, list))

#try with other datatypes tuple,set

t = (1,2,3,4)
print(isinstance(t,tuple))

print(isinstance(lst,set))

True
True
False

# map()

Map applies a function to all the items in an input_list.

syntax: map(function_to_apply, list_of_inputs)

In [28]:
numbers = [1, 2, 3, 4]

#normal method of computing num^2 for each element in the list.

squared = []

for num in numbers:
    squared.append(num ** 2)
    
print(squared)

[1, 4, 9, 16]

In [29]:
numbers= [1, 2, 3, 4]

def power_of_two(num):
    return num**2

#using map() function

squared = list(map(power_of_two, numbers))

print(squared)

[1, 4, 9, 16]

# reduce()

- reduce() function is for performing some computation on a list and returning the result.
- It applies a rolling computation to sequential pairs of values in a list.

In [31]:
#product of elemnts in a list

product = 1
lst = [1, 2, 3, 4]

#traditional program without reduce()

for num in lst:
    product *= num
print(product)

24

In [32]:
from functools import reduce 

def multiply(x,y):
    return x * y

product  = reduce(multiply, lst)
print(product)

24

# Python Program to make a simple calculator that can add, subtract, multiply and perform division

In [4]:
def add(a,b):
    """
    This function lets you add two numbers
    """
    return a + b


def sub(a,b):
    """
    This function lets you subtract two numbers
    """
    return a - b


def multiply(a,b):
    """
    This function lets you multiply two numbers
    """
    return a * b

def divide(a,b):
    """
    This function lets you divide two numbers
    """
    return a / b


print("Select your Choice: \n 1.Addition \n 2.Subtraction \n 3.Multiply \n 4.Division")

choice = int(input("Enter your choice : "))

num1 = float(input("Enter your first number :"))
num2 = float(input("Enter your second number :"))

if choice == 1:
    print("Addition of Two numbers is :",add(num1,num2))
elif choice == 2:
    print("Subtraction of Two numbers is :",sub(num1,num2))
elif choice == 3:
    print("Multiplication of Two numbers is :",multiply(num1,num2))
elif choice == 4:
    print("Division of Two numbers is :",divide(num1,num2))
else:
    print("Invalid Choice")

Select your Choice:
 1.Addition
 2.Subtraction
 3.Multiply
 4.Division
Enter your choice : 3
Enter your first number :25
Enter your second number :3
Multiplication of Two numbers is : 75.0

# Function Arguments

In [5]:
def greet(name, msg):
    """
    This function greets to a person with the provided message.
    """
    print("Hello {0} , {1}".format(name,msg))
    
greet("python", "Welcome to the world")

Hello python , Welcome to the world

In [6]:
#suppose if we pass one argument
#We will get an error

greet("python")

TypeError: greet() missing 1 required positional argument: 'msg'

# Different Forms of Arguments

1. Default Arguments

- We can provide a default value to the argument by using an assignment operator (=).

In [8]:
def greet(name, msg="Have a Good Day"):
    """
    This function greets to the person with the provided message, if message is not provided,
    it defaults to "Have a good day."
    """
    print("Hello {0} , {1}".format(name,msg))

    
#With both argument
greet("python","Welcome to the world")

#without msg argument
greet("python")

Hello python , Welcome to the world
Hello python , Have a Good Day

__Once we have a default argument, all the arguments to its right must also have default values.__

- def greet(msg="Good Morning", name)

__will get a SyntaxError : non-default argument follows default argument__

# 2. Keyword Arguments

__**kwargs__ allows you to pass keyworded variable length of arguments to a function. You should use **kwargs if you want to handle named arguments in a function

In [9]:
#Example

def greet(**kwargs):
    """
    This function greets to person with the provided message.
    """
    if kwargs:
        print("Hello {0} and {1}".format(kwargs['name'], kwargs['msg']))
        
greet(name="python", msg = "Welcome to the world.")

Hello python and Welcome to the world.

# 3. Arbitary Arguments

- Sometimes, we do not know in advance the number of arguments that will be passed into a function. Python allows us to handle this kind of situation through function calls wiht arbitary number of arguments.

In [11]:
def greet(*names):
    """
    This function greets all persons in the names tuple.
    """
    print(names)
    
    for name in names:
        print("Hello {0} ".format(name))
        
greet("Python","Java","Javascript","Go", "Ruby")

('Python', 'Java', 'Javascript', 'Go', 'Ruby')
Hello Python
Hello Java
Hello Javascript
Hello Go
Hello Ruby

# Recursion

- We know that in python, a function can call other functions. It is even possible for the function to call itself. These type of construct are termed as recursive functions.

# Python Program to print factorial of a number using recursion.

In [14]:
def factorial(num):
    """
    This is a recursive function to find the factorial of a given number.
    """
    return 1 if num == 1 else (num * factorial(num-1))

num = 5

print("Factorial of {0} is : {1}".format(num, factorial(num)))

Factorial of 5 is : 120

## Advantages of recursive function
- Recursive functions make the code look clean and elegant.

- A complex task can be broken down into simpler sub-problems using recursion.

- Sequence generation is easier with recursion than using some nested iteration.

## Disadvantages of recursive function
- Sometimes the logic behind recursion is hard to follow through.

- Recursive calls are expensive (inefficient) as they take up a lot of memory and time.

- Recursive functions are hard to debug.

# Python program to display the fibonacci sequence up to the n-th term using recursive function.

In [16]:
def fibonacci(num):
    """
    Recursive function to print fibonacci sequence.
    """
    return num if num <= 1 else fibonacci(num-1) + fibonacci(num - 2)
    
nterms = 20
print("Fibonacci Sequence :")

for num in range(nterms):
    print(fibonacci(num))

Fibonacci Sequence :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

# Lambda Function :

- In Python, lambda function is a function that is defined without a name.

- While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

- Lambda functions are used extensively along with built-in functions like filter(), map()

- syntax
        lambda arguments : expression

In [20]:
#Example

double = lambda x : x*2

print(double(5))

10

In [21]:
#function without lambda

def double(x):
    return x * 2

print(double(5))

10

In [24]:
#Example use with filter()

lst = [1, 2, 3, 4, 5]

even_lst = list(filter(lambda x : (x%2==0), lst))

print(lst)

print(even_lst)

[1, 2, 3, 4, 5]
[2, 4]

In [28]:
#Example use with reduce()

from functools import reduce

lst = [1, 2, 3, 4, 5, 6]

product_lst = reduce(lambda x,y : x*y, lst)

print(product_lst)

720

# Modules 
- Modules refer to a file containing Python statements and definitions.

- A file containing Python code, for e.g.: abc.py, is called a module and its module name would be "abc".

- We use modules to break down large programs into small manageable and organized files. Furthermore, modules provide reusability of code.

- We can define our most used functions in a module and import it, instead of copying their definitions into different programs.

## How to import a module?
- We use the import keyword to do this.

In [31]:
#Example

import math
print(math.pi)

3.141592653589793

In [32]:
import datetime
datetime.datetime.now()

datetime.datetime(2022, 6, 9, 22, 33, 53, 468730)

# import with renaming

In [33]:
import math as m
print(m.pi)

3.141592653589793

# from .... import statement

- We can import specific names from a module without importing the module as a whole.

In [34]:
from datetime import datetime
datetime.now()

datetime.datetime(2022, 6, 9, 22, 36, 2, 146315)

# Import all names

In [36]:
from math import *

print("value of PI is : " + str(pi))

value of PI is : 3.141592653589793

# dir() built in function

We can use the dir() function to find out names that are defined inside a module.

In [37]:
dir()

['In',
 'Out',
 '_',
 '_12',
 '_32',
 '_34',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'acos',
 'acosh',
 'add',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'choice',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'datetime',
 'degrees',
 'dist',
 'divide',
 'double',
 'e',
 'erf',
 'erfc',
 'even_lst',
 'exit',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'fibonacci',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'get_ipython',
 'greet',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'lst',
 'm',
 'math',
 'modf',
 'multiply',
 'nan',
 'nextafter',
 'nterms',
 'num',
 'num1',
 'num2',
 'perm',
 'pi',
 'pow',
 'prod',
 'product_lst',
 'quit',
 'radians',
 'reduce',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sub',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

# Packages in Python

- Packages are a way of structuring Python’s module namespace by using “dotted module names”.

- A directory must contain a file named init.py in order for Python to consider it as a package. This file can be left empty but we generally place the initialization code for that package in this file.

# FILE I/O

- File is a named location on disk to store related information. It is used to permanently store data in a non-volatile memory (e.g. hard disk).

- Since, random access memory (RAM) is volatile which loses its data when computer is turned off, we use files for future use of the data.

- When we want to read from or write to a file we need to open it first. When we are done, it needs to be closed, so that resources that are tied with the file are freed.

- __File operation:__

1. Open a file

2. Read or write (perform operation)

3. Close the file

## Opening a File

Python has a built-in function open() to open a file. This function returns a file object, also called a handle, as it is used to read or modify the file accordingly.

In [40]:
#opn file in current directory
f = open('example.txt')

__We can specify the mode while opening a file. In mode, we specify whether we want to read 'r', write 'w' or append 'a' to the file. We also specify if we want to open the file in text mode or binary mode.__

# Python File Modes
- __'r'__ Open a file for reading. (default)

- __'w'__ Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.

- __'x'__ Open a file for exclusive creation. If the file already exists, the operation fails.

- __'a'__ Open for appending at the end of the file without truncating it. Creates a new file if it does not exist.

- __'t'__ Open in text mode. (default)

- __'b'__ Open in binary mode.

- __'+'__ Open a file for updating (reading and writing)

In [41]:
f = open('example.txt') #equivalent to 'r'
f = open('example.txt', 'r')

f = open('text.txt','w')

- The default encoding is platform dependent. In windows, it is 'cp1252' but 'utf-8' in Linux.

- So, we must not also rely on the default encoding or else our code will behave differently in different platforms.

- Hence, when working with files in text mode, it is highly recommended to specify the encoding type.

## Closing a File

- Closing a file will free up the resources that were tied with the file and is done using the close() method.

- Python has a garbage collector to clean up unreferenced objects but, we must not rely on it to close the file.

In [42]:
f = open('example.txt')
f.close()

- This method is not entirely safe. If an exception occurs when we are performing some operation with the file, the code exits without closing the file.

- A safer way is to use a try...finally block.

In [43]:
try: 
    f = open("example.txt")
    #example file operation
    
finally:
    f.close()

- This way, we are guaranteed that the file is properly closed even if an exception is raised, causing program flow to stop.

- The best way to do this is using the with statement. This ensures that the file is closed when the block inside with is exited.

- We don't need to explicitly call the close() method. It is done internally.

- with open("example.txt",encoding = 'utf-8') as f:

#perform file operations

# Writing to a File

- In order to write into a file we need to open it in __write 'w', append 'a' or exclusive creation 'x' mode.__

__We need to be careful with the 'w' mode as it will overwrite into the file if it already exists. All previous data are erased.__

Writing a string or sequence of bytes (for binary files) is done using __write()__ method. This method returns the number of characters written to the file.

In [44]:
f = open("test.txt","w")
f.write("This is a First file\n")
f.write("Contains Two lines\n")
f.close()

__This program will create a new file named 'test.txt' if it does not exist. If it oes exist, it is overwritten.__

# Reading from a file

__There are various methods available for this purpose. We can use the read(size) method to read in size number of data. If size parameter is not specified, it reads and returns up to the end of the file.__

In [45]:
f = open("test.txt",'r')
f.read()

'This is a First file\nContains Two lines\n'

In [46]:
f = open("test.txt",'r')
f.read(4)

'This'

In [47]:
f.read(10)

' is a Firs'

In [48]:
f.read()

't file\nContains Two lines\n'

__We can change our current file cursor (position) using the seek() method.__

Similarly, the __tell()__ method returns our current position (in number of bytes).

In [49]:
f.tell()

42

In [50]:
#bring the file cursor to initial position
f.seek(0)

0

In [51]:
#read the entire life
print(f.read())

This is a First file
Contains Two lines